@model IEnumerable<MovieItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Film Liste</h2>
        </div>

        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial" />
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Agelimit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.GenreId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Subtitels)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @if (item.Agelimit == "0")
                    {
                        <img srcset="/images/Tilladt_for_all.png" title="All" />
                    }
                    @if (item.Agelimit == "1")
                    {
                        <img srcset="/images/Frarådes_for_børnunder_7.jpg" title="Age7" />
                    }
                    @if (item.Agelimit == "2")
                    {
                        <img srcset="/images/Tilladt_fra_11_år.png" title="All" />
                    }
                    @if (item.Agelimit == "3")
                    {
                        <img srcset="/images/Tilladt_fra_15_år.png" title="All" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(m => item.Genre.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Subtitels)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id" />
                </td>
            </tr>
                }
            </table>
        }
        else
        {
            <p>Der er ingen Film</p>
        }
    </div>
</div>

